site_name: PyStemmusScope documentation
repo_url: https://github.com/EcoExtreML/STEMMUS_SCOPE_Processing
repo_name: PyStemmusScope

nav:
  - Getting started: index.md
  - Installation: installation_instructions.md
  - Run the model:
      - Different ways to run the model: notebooks/run_model_on_different_infra.ipynb
      - Site and global datasets with the executable file: notebooks/run_model_with_different_dataset.ipynb
      - Site and global datasets on CRIB: notebooks/run_model_with_different_dataset_on_CRIB.ipynb

  - BMI:
    - "BMI instructions": bmi.md
    - "BMI demonstration": notebooks/BMI_demo.ipynb
    - "grpc4bmi demonstration": notebooks/grpc4bmi_demo.ipynb
  - Contributing guide: CONTRIBUTING.md
  - API reference: reference.md

theme:
  name: material
  custom_dir: docs/overrides
  logo: ecoextreml_logo.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
  icon:
    repo: fontawesome/brands/github-alt

  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: light green
      accent: green

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: blue grey
      accent: teal

plugins:
- mkdocs-jupyter:
      include_source: True
- search
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_style: google
          docstring_options:
            ignore_init_summary: no
          merge_init_into_class: yes
          show_submodules: no
extra:
  generator: false
